<div id="about" class="about-me__block">
  <div class="about-me__block-image-container">
    <img
      class="about-me__block-image"
      src="../../../assets/aboutme.png"
      alt="about-me-image"
    />
  </div>
  <div class="about-me__block-text">
    <h3 class="about-me__block-text-title">About Me</h3>
    <p class="about-me__block-text-description">
      As a Pre-MSC student (equivalent to Bachelor's degree), I will be
      continuing my studies next year in a MSC-PRO program (Master in
      Cybersecurity & Cloud) at Epitech, a renowned computer science school. I
      have a solid foundation in both practical and theoretical aspects of
      software development and information systems, which has been further
      strengthened by my experience as a Developer in an internship.
    </p>
    <p class="about-me__block-text-description">
      My goal is to further specialize in the fields of cybersecurity, cloud
      computing, and data and systems administration. I am eager to pursue an
      apprenticeship position in these strategic sectors, aiming to acquire
      extensive expertise and operational insights.
    </p>
  </div>
</div>
