<div class="home__block">
  <div class="home__block-round-image-container">
    <img
      class="home__block-round-image"
      src="../../assets/profil.png"
      alt="round-image"
    />
  </div>

  <div class="home__block-text">
    <h3 class="home__block-text-title">Hey !</h3>
    <h1 class="home__block-text-sub-title">I'm Neparidze Nikolozi</h1>
    <div class="text-animation">
      <h2 #textElement class="home__block-text-sub-title-span text"></h2>
      <span #blinkElement class="text blink"></span>
    </div>
    <p class="home__block-text-description">
      Currently a Pre-MSC student (equivalent to a Bachelor's degree), I will
      continue my studies next year in MSC-PRO (Master in Cybersecurity & Cloud)
      at Epitech, a renowned computer science school. I have a solid practical
      and theoretical training in software development and information systems,
      consolidated by experience as a Developer in work-study.
    </p>
    <div class="home__block-button-container">
      <a href="#about" class="home__block-text-button">Learn More</a>
      <a href="#" class="home__block-text-button">Contact Me</a>
    </div>
  </div>
</div>

<app-about-me></app-about-me>

<app-my-projects></app-my-projects>

<app-skills></app-skills>

<app-experience></app-experience>
